.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}
.logoText {
  font-family: "UncialAntiqua";
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  user-select: none;
}
.logoImage {
  display: block;
}
